<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <div class="container-tab">
                <img class="icon1" src="assets/img/film-fotografico.png">
                <ion-label class="texto">Películas</ion-label>
            </div>

        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <div class="container-tab">
                <img class="icon2" src="assets/img/buscador.png">
                <ion-label class="texto">Buscar</ion-label>
            </div>

        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <div class="container-tab">
                <img class="icon3" src="assets/img/estrella.png">
                <ion-label class="texto">Favorito</ion-label>
            </div>

        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>