.card-actor {
    height: 100%;
}

.titulo {
    text-align: center;
}

.sugerencia {
    font-size: 1.3em;
}

ion-content {
    --background: linear-gradient(to bottom, #7fdee8, #84eade, #9af4cd, #bcfbba, #e5ffa9);
}

.background {
    background: transparent;
}

ion-searchbar {
    --placeholder-font-weight: 700;
}

span {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

ion-card {
    background: rgb(226, 226, 226);
}

p {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 800;
    letter-spacing: 2px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, rgb(240, 168, 12), #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s linear alternate infinite;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}